<template>
  <div>
    <div v-if="ship">
      <h1>{{ ship.name }}</h1>
      <h2>{{ ship.model }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShowShip',
  computed: {
    ship() {
      return this.$store.getters.getShip(this.$route.params.id);
    },
  },
};
</script>

<style scoped>

</style>
