<template>
  <div class="counter">
    <button @click="modifCounter(-1)">-</button>
    {{ $store.state.count }}
    <button @click="modifCounter(1)">+</button>
  </div>
</template>

<script>

export default {
  name: 'Counter',
  methods: {
    modifCounter(value) {
      this.$store.commit("changeCounter", value)
    },
  },
}
</script>
